<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualization</title>
</head>
<body>
    <form action="/plot" method="post" enctype="multipart/form-data"> 
        
        <label>X:</label>
        <select name="X">
            {%for i in col: %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <label>Y:</label>
        <select name="Y">
            {%for i in col: %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>
